numpy==1.23.5
torch==1.13.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
pyarrow==12.0.1
fsspec==2023.5.0
transformers[sentencepiece]==4.30.2
datasets==2.12.0
sacrebleu==2.3.1
rouge_score==0.1.2
py7zr==0.20.8
pandas==1.5.3
nltk==3.8.1
tqdm==4.67.3
PyYAML==6.0.3
matplotlib==3.7.1
notebook==6.5.4
boto3==1.26.165
mypy-boto3-s3
python-box==7.0.1
ensure==1.0.4
fastapi==0.95.2
uvicorn==0.22.0
Jinja2==3.1.2
evaluate